{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="box blue-box">
        <h2>Login</h2>
        <form id="loginForm" class="direction-row">
            <div class="direction-column">
            <input type="text" id="username" placeholder="Username" required>
            <input type="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p id="errorMessage" class="error"></p>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
